# Path to images it can be ./ if the images are on the same directory of the executable or ./<directory name> if it is on
# subdirectory of the executable or <drive letter>:/<directory>/<subdirectory>/.../<subdirectory>/ to absolute path
path: 3D_Reconstruction/Images/
# The name of the image sequence without number sequence or extension
filename: reconstruct
directory name: scene_builds
# Path to save the COPS configuration file
COPS dataset: datasets/
# Path to write COPS result
COPS result: datasets/results/
# COPS problem filename
COPS problem: 3dreconstructionPathCOPS
# OP problem filename
OP problem: 3dreconstructionPathOP
# Path to COPS script
COPS path: C:/Users/dnune/OneDrive/Documentos/VerLab/COPS_l/
#Extension to saved images
extension: png
# The total time to simulation
simulation time: 11.0
# The name of the vision sensor at CoppeliaSim
#vision sensor names: [./Vision_sensor_center, ./Vision_sensor_left, ./Vision_sensor_right]
vision sensor names: ./Vision_sensor_free
# The name of the robot that is with the camera
quadcopter name: ./target
# The quadcopter handle to get quadcotper position
quadcopter base: ./base
# If the robot needs a stopped time to stabilize the image before take the pictures
time to stabilize: 10.0
# The displacement that the robot will do before the simulation stops
max displacement: 0.5
# The total maximum time of the simulation
total simulation time: 0.02
# The height of the checkerboard black squares corners. The height variable is the number of inner square corners of the calibration target
height: 5
# The width of the checkerboard black squares corners. The width variable is the number of inner square corners of the calibration target
width: 8
# Flag to test if the file was correct
is_ok: 1
# The minimum value of the CA equation to create a group. Bigger number for route has more points
CA_max: 700
CA_min: 1
# When we increase this number, the maximum points of view radius increase. # Proportion of hemisphere radius
max route radius: 2
# Define the number of points by measure unit for points of view radius. Increase points per unit above 1 decrease the number of points between 0 and 1
# when you decrease, increase the number of points. The max route radius divided by points per unit must be greater than one
points per unit: 1.0
# Density of points in the radius. If the number increase density decrease
points per sphere: 1
# The proportion of the tallest z height to make the cylinder
height proportion: 2.0
# Camera calibration [width, height, fx, fy, cx, cy]
camera param: [1920, 1080, 1066.0221301765448, 1075.7395515688547, 950.9797245332444, 516.0743430542202]
# Define the maximum number of times that the point can be visited
max visits: 10
# Maximum number of iterations to try catch a subgroup
max iter: 1000
# Maximum travel budget
T_max: 300
# Number of subdivisions of the horizontal discretization
n resolution: 15
# Object names like on CoppeliaSim
object names: [Bens_G63, Bobcat, T_type]
# Path to colmap
colmap folder: C:/Users/dnune/OneDrive/Documentos/VerLab/COLMAP-3.9.1-windows-cuda/COLMAP-3.9.1-windows-cuda/
# Workspace folder to colmap
workspace folder: COLMAP_results
# Image folder to colmap
images folder: /Images
# Number of trials for each experiment
number of trials: 1
# Near clip for vision sensor
near clip: 1e-4
# Far clip for vision sensor
far clip: 100
# Perspective angle
perspective angle: 82.6
# Compute the COLMAP dense model
dense model: 1
# Path to save experiments
save path: ./save_files/
# Python exec, on the laboratory machines, it's python3.11
python: python
# Path to CoppeliaSim obj
obj folder: obj/
# Use OBJ to avoid opening Coppelia in the convex_hull command
use obj: 0